@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*,
*::after,
*::before {
   box-sizing: border-box;
   font-family: inherit;
}

@layer base {
   html {
      font-family: var(--font-vazirmatn), system-ui, -apple-system,
         BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

   body {
      font-synthesis: none;
   }
}

@layer base {
   html[lang="fa-IR"] {
      --numeric-style: "ss01", "ss02";
   }

   html[lang="en"] {
      --numeric-style: normal;
   }
}

@layer base {
   html {
      font-feature-settings: var(--numeric-style);
   }
}

@layer base {
   html[lang="fa-IR"] {
      font-feature-settings: "ss01", "ss02", "lnum" 0, "tnum" 0;
      font-variant-numeric: normal;
   }
}

body {
   overflow-x: hidden;
   padding: 0;
   margin: 0;
}

.hljs {
   display: block;
   overflow-x: auto;
   padding: 1em;
   background: #282c34;
   color: #abb2bf;
   border-radius: 0.5rem;
}
.hljs-comment,
.hljs-quote {
   color: #5c6370;
   font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-operator {
   color: #c678dd;
}
.hljs-string,
.hljs-meta .hljs-string {
   color: #98c379;
}
.hljs-function,
.hljs-class .hljs-title {
   color: #61aeee;
}
.hljs-number,
.hljs-literal {
   color: #d19a66;
}
.hljs-tag,
.hljs-name {
   color: #e06c75;
}
.hljs-attr {
   color: #d19a66;
}

@keyframes infinite-scroll {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-50%);
   }
}

.animate-infinite-scroll {
   animation: infinite-scroll 20s linear infinite;
   display: flex;
   width: max-content;
}

.mask-linear-fade {
   mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
   );
   -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
   );
}

.mask-linear-fade:hover .animate-infinite-scroll {
   animation-play-state: paused;
}
